header,
section, 
footer {
    border: 1px solid #999;
    padding: 20px;
    margin: 10px 0;
}

.data-table {
    border:1px solid #888;
    font-family: sans-serif;
    border-collapse: collapse;
}

.data-table td {
    border: 1px solid #AAA;
    padding: 1em;
}
